ul.event-list{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.event-list li{
    display: flex;
    flex-direction: column;
}

ul.event-list li header{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}

ul.event-list li strong{
    margin-top:10px;
    font-size:18px;
    color:#444;
}

ul.event-list li span{
    font-size:14px;
    color: #999;
}